APP_NAME=VIVA TURNOS
BASE_URL=

DB_HOST=YOUR_DB_HOST
DB_PORT=3306
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_ROOT_PASSWORD=YOUR_DB_ROOT_PASSWORD

INITIAL_USER_PASSWORD=YOUR_INITIAL_USER_PASSWORD
